.App {
  text-align: center;
  background-image: url('https://milnersblog.files.wordpress.com/2015/09/star-wars-episode-i-the-phantom-menace-poster-without-word-all-text-removed.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.Header {
  color: #fff;
  text-shadow: 2px 2px 5px red;
}
html{
  padding: 3%;
  background: black;
}
/* write your parent styles in here for your App.js */
